<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XDevkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XDevkit.IPS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XDevkit.Functions.IPS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XDevkit.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.0.17</value>
            </setting>
        </XDevkit.Properties.Settings>
        <XDevkit.IPS>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.0.17</value>
            </setting>
        </XDevkit.IPS>
        <XDevkit.Functions.IPS>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
        </XDevkit.Functions.IPS>
    </userSettings>
</configuration>